<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form method="post" action="/challenges">
    <div class="field">
      <label for='name'>Name:</label><br>
      <input id='name' name='name'><br>
    </div>
    <div class="field">
      <label for='frequency'>frequency</label><br>
      <select id='frequency' ng-change='frequencySelect()' ng-model="frequency" name="frequency">
        <option value='daily'>Daily</option>
        <option value='weekly'>Weekly</option>
        <option value='monthly'>Monthly</option>
        <option value='custom'>Custom</option>
      </select>
    </div>
    <div class="day-checkbox" ng-show='frequencyCheckboxes'>
      <input type='radio' name="custom_frequency" value="2"> Twice a week<br>
      <input type='radio' name="custom_frequency" value="3"> Three times a week<br>
      <input type='radio' name="custom_frequency" value="4"> Four times a week<br>
      <input type='radio' name="custom_frequency" value="5"> Five times a week<br>
      <input type='radio' name="custom_frequency" value="6"> Six times a week<br>
    </div>
    <div class="field">
      <label for='wager'>Wager:</label><br>
      <input id='wager' name='wager'><br>
    </div>
    <div class="field">
      <label for='duration'>Duration:</label><br>
      <input id='duration' name='duration'><br>
    </div>
    <input type='text' value='<%= @challenge.group_id %>' name='group_id' style='display:none;'>
    <div class="actions">
      <input type="submit" value="submit">
    </div>
</form>
<%end%>
